.anchor {
    color: #222;
    display: flex;
    flex-direction: row;
}
.anchor h2 {
    margin: 0;
    font-weight: 500;
}
.anchor img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 20%;
    border-color: aquamarine;
    background-color: beige;
}
.content{
    padding: 1%;
}