.anchor {
    color: #222;
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    border-radius: 50px;
}
.anchor h2 {
    margin: 0;
    font-weight: 500;
}
.anchor img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
}
.content{
    padding: 1%;
}